.header {
  margin: 92px auto 0px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu_list_header {
  list-style-type: circle;
  display: flex;
  gap: 31.48px;
  margin-left: 25px;
  text-wrap: nowrap;
}

.list_elem_no_dot {
  list-style-type: none;
}

.info {
  list-style-type: none;
  max-width: 240px;
  line-height: 24.3px;
  margin-right: 25px;
  margin-left: auto;
  
}

.no_underline {
  text-decoration: none;
  border-bottom: no;
}

.logo_black {
  height: 100%;
  width: 140px;
  justify-self: center;
}

.elem_wrap {
  text-wrap: wrap;
}

.cover {
  background-image: url("../images/cover.jpg");
  width: 100%;
  height: 770px;
  padding: 165px 50px 51px 50px;
  margin-top: 96px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
}

.subtitle_and_button {
  display: flex;
  justify-content: space-between;
  margin: 135px 50px 51px 78px;
}

.subtitle {
  text-transform: uppercase;
  font-size: 22px;
  align-self: center;
  word-spacing: 1.1em;
}

.button {
  border: 1px solid white;
  background: transparent;
  width: 256px;
  height: 51px;
  color: white;
  font-size: 22px;
  font-weight: 500;
}

.light_text {
  color: white;
}

.align_left {
  text-align: left;
}

.align_center {
  text-align: center;
}

.align_right {
  text-align: right;
}

.name {
  font-size: 100px;
  line-height: 115px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.adress {
  font-style: normal;
}

a {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.overlay {
  position: absolute;
  background-color: rgb(0 0 0 / .6);
  width: 100%;
  height: 770px;
}

.lots {
  margin-top: 179px;
}

.lots_headings {
  font-size: 40px;
  font-weight: 700;
}